@import 'compass/css3';
$icon-font-path: "fonts/";
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
/* ==========================================================================
   Project styles
   ========================================================================== */

$gray:#636f70;
$black:#272627;
$orange:#E66F2D;
body {
    background-color: $orange;
    color: #FFF;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
.m-main {
    margin-top: 50px;
    .panel {
        color: #333333;
        min-height: 300px;
    }
    .item {
        position:absolute;
        left:100%;
        top:0;
        width:100%;
        opacity: 0;
        &>div {
            margin-bottom: 20px;
        }
        @include transition-duration(0.15s);
        @include transition-timing-function(ease-in);
    }
    #d0 {
        left:0;
        margin-top: 50px;
        opacity: 1;
    }
    textarea {
        height: 120px;
    }
    .quiz-container {
        min-height:200px;
        overflow: hidden;
        position:relative;
    }
    .quiz-wrap {
       
    }
    .btn-primary{
        padding-left:40px;
        padding-right:40px;
    }
}
.footer {
    position: absolute;
    bottom: 0;
    right: 0;
}
.alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.code {
    background-color: #222222;
    color: #ffffff;
    padding: 10px;
    @include border-radius(5px);
}
